# Ignore node_modules directory
/client/node_modules
/server/node_modules

# Ignore build artifacts
/client/build
/server/build

/server/pokeData
pokeData/

/server/package-lock.json
/client/package-lock.json

/server/upload
/server/coverage
# Ignore environment-specific files (e.g., .env)
.env